* {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: "Sofia", "system-ui", "Segoe UI", Helvetica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #f6f8fe;
  margin: 0;
}

.image {
  border-radius: 50%;
}

.image > img {
  min-width: 60px;
  min-height: 60px;
  max-width: 60px;
  max-height: 60px;
}

/* Sofia */

@font-face {
  font-family: "Sofia";
  src: url("/fonts/Sofia Pro UltraLight Italic Az.otf");
  font-weight: 200;
}

@font-face {
  font-family: "Sofia";
  src: url("/fonts/Sofia Pro UltraLight Az.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Sofia";
  src: url("/fonts/Sofia Pro Semi Bold Italic Az.otf");
  font-weight: 700;
}

@font-face {
  font-family: "Sofia";
  src: url("/fonts/Sofia Pro Semi Bold Az.otf");
  font-weight: 700;
}

@font-face {
  font-family: "Sofia";
  src: url("/fonts/Sofia Pro Regular Italic Az.otf");
  font-weight: 200;
}

@font-face {
  font-family: "Sofia";
  src: url("/fonts/Sofia Pro Regular Az.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Sofia";
  src: url("/fonts/Sofia Pro Medium Italic Az.otf");
  font-weight: 700;
}

@font-face {
  font-family: "Sofia";
  src: url("/fonts/Sofia Pro Medium Az.otf");
  font-weight: 700;
}
@font-face {
  font-family: "Sofia";
  src: url("/fonts/Sofia Pro Light Italic Az.otf");
  font-weight: 200;
}

@font-face {
  font-family: "Sofia";
  src: url("/fonts/Sofia Pro Light Az.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Sofia";
  src: url("/fonts/Sofia Pro ExtraLight Italic Az.otf");
  font-weight: 700;
}

@font-face {
  font-family: "Sofia";
  src: url("/fonts/Sofia Pro ExtraLight Az.otf");
  font-weight: 700;
}

@font-face {
  font-family: "Sofia";
  src: url("/fonts/Sofia Pro Bold Italic Az.otf");
  font-weight: 700;
}

@font-face {
  font-family: "Sofia";
  src: url("/fonts/Sofia Pro Bold Az.otf");
  font-weight: 700;
}

@font-face {
  font-family: "Sofia";
  src: url("/fonts/Sofia Pro Black Italic Az.otf");
  font-weight: 700;
}

@font-face {
  font-family: "Sofia";
  src: url("/fonts/Sofia Pro Black Az.otf");
  font-weight: 700;
}
